@media (min-width: @min-width) {
  .catalog__name {
    font-size: 36px;
    color: #111111;
  }

  .catalog__title {
    font-size: 16px;
    line-height: 20px;
    color: #111111;
    text-transform: uppercase;
  }

  .catalog__table td {
    font-family: "Arial", sans-serif;
    font-size: 12px;
    color: #444444;
  }

  .show-all__title {
    color: #111111;
    font-size: 16px;
    text-transform: uppercase;
  }

  .show-all__text {
    color: #444444;
    font-size: 12px;
    font-family: "Arial", sans-serif;
  }

  .show-all__button {
    color: #444444;
    font-size: 16px;
    font-family: "Oswald", "Arial", sans-serif;
    text-transform: uppercase;
    border: none;
  }
}

@media (min-width: @tablet-width) {
  .catalog__name {
    font-size: 60px;
  }

  .catalog__title {
    font-size: 20px;
  }

  .catalog__table td {
    font-size: 16px;
  }

  .show-all__title {
    font-size: 20px;
    line-height: 20px;
  }

  .show-all__text {
    font-size: 16px;
    line-height: 20px;
  }

  .show-all__button {
    font-size: 16px;
  }
}


@media (min-width: @desktop-width) {
  .catalog__title {
    font-size: 20px;
  }

  .catalog__table td {
    font-size: 16px;
  }
}
