@media (min-width: @min-width) {
  .catalog__list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
  }

  .catalog__name {
    width: 100%;
    margin: 0;
    min-height: 80px;
    padding-top: 20px;
    padding-left: 20px;
    font-size: 36px;
    color: #111111;
    border-bottom: 1px solid #ededed;
  }

  .catalog__item {
    position: relative;
    width: 280px;
    padding: 20px;
    border-bottom: 1px solid #ededed;
  }

  .catalog__item-link {
    text-decoration: none;
  }

  .catalog__item-pic {
    position: absolute;
    top: 0;
    left: 20px;
    background-color: transparent;
  }

  .catalog__title {
    margin-left: 140px;
    width: 80px;
    font-size: 16px;
    line-height: 20px;
    color: #111111;
    text-transform: uppercase;
  }

  .catalog__table {
    border-collapse: collapse;
    margin-left: 140px;
    width: 140px;
  }

  .catalog__table td {
    font-family: "Arial", sans-serif;
    font-size: 12px;
    color: #444444;
    padding: 0;
  }

  .catalog__table-row td:last-child {
    text-align: right;
  }

  .catalog__show-all {
    position: relative;
    padding: 20px;
    width: 280px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    border-bottom: 1px solid #ededed;

    &::after {
      position: absolute;
      top: 26px;
      left: 140px;
      content: "";
      width: 30px;
      height: 30px;
      background: url("../img/icon-plus-mobile.svg") top left no-repeat;
      background-size: 30px 30px;
      opacity: 0.2;
    }
  }

  .catalog__show-all-title {
    text-align: center;
    margin: 0;
    margin-top: 60px;
    color: #111111;
    font-size: 16px;
    text-transform: uppercase;
  }

  .catalog__show-all-text {
    text-align: center;
    margin: 0;
    margin-top: 10px;
    color: #444444;
    font-size: 12px;
    font-family: "Arial", sans-serif;
  }

  .catalog__order-button {
    margin-top: 20px;
    font-size: 16px;
    width: 280px;
    height: 40px;
  }

  .catalog__show-all-button {
    color: #444444;
    font-size: 16px;
    font-family: "Oswald", "Arial", sans-serif;
    text-transform: uppercase;
    margin-top: 20px;
    border: none;
    height: 40px;
    width: 280px;
    background-color: #f2f2f2;

    &:hover {
      background-color: #ebebeb;
    }

    &:active {
      opacity: 0.3;
    }
  }
}

@media (min-width: @tablet-width) {
  .catalog__name {
    font-size: 60px;
    margin-left: 30px;
    border: none;
  }

  .catalog__title {
    text-align: center;
    margin: 0;
    font-size: 20px;
    width: 140px;
    margin-top: 40px;
  }

  .catalog__item {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    min-height: 510px;
    border: none;
    margin: 0 30px;
    width: 254px;
    padding: 0 35px;
    padding-top: 60px;

    &::after {
      content: "";
      width: 100%;
      height: 430px;
      background-color: #f2f2f2;
      position: absolute;
      bottom: 0;
      left: 0;
      z-index: -1;
    }
  }

  .catalog__item-link {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .catalog__item-pic {
    position: relative;
    left: 0;
  }

  .catalog__item-pic[src*="small"] {
    margin-top: 28px;
  }

  .catalog__table {
    width: 250px;
    margin: 0;
    margin-top: 25px;
  }

  .catalog__table-row td {
    border-bottom: 1px solid #cdcdcd;
    height: 31px;
  }

  .catalog__table td {
    font-size: 16px;
  }

  .catalog__order-button {
    width: 250px;
    margin-top: 30px;
  }

  .catalog__show-all {
    width: 246px;
    height: 430px;
    margin-top: 140px;
    margin-left: 30px;
    border: 1px solid #cdcdcd;
    padding: 0 38px;

    &::after {
      top: 55px;
      left: 93px;
      content: "";
      width: 60px;
      height: 60px;
      background: url("../img/icon-plus.svg") top left no-repeat;
      background-size: 60px 60px;
      opacity: 0.2;
    }
  }

  .catalog__show-all-title {
    margin-top: 165px;
    width: 145px;
    font-size: 20px;
    line-height: 20px;
  }

  .catalog__show-all-text {
    width: 200px;
    font-size: 16px;
    line-height: 20px;
    margin-top: 25px;
  }

  .catalog__show-all-button {
    margin-top: 70px;
    width: 250px;
    font-size: 16px;
  }
}


@media (min-width: @desktop-width) {
  .catalog__name {
    margin-left: 40px;
  }

  .catalog__item {
    min-height: 517px;
    width: 169px;
    margin: 0 40px;
    padding: 0 38px;
    padding-top: 60px;
  }

  .catalog__title {
    font-size: 20px;
    width: 150px;
  }

  .catalog__table {
    width: 175px;
  }

  .catalog__order-button {
    width: 170px;
    height: 40px;
  }

  .catalog__table td {
    font-size: 16px;
  }

  .catalog__show-all {
    width: 169px;
  }

  .catalog__show-all-button {
    width: 170px;
  }
}
