@media (min-width: @min-width) {
  .example__title {
    font-size: 36px;
    color: #111111;
  }

  .example__text {
    font-size: 14px;
    line-height: 18px;
    font-family: "Arial", sans-serif;
  }

  .examle__piece-text {
    font-size: 24px;
    text-transform: uppercase;
    color: #111111;
  }

  .examle__piece-border {
    font-family: "Arial", sans-serif;
    font-size: 12px;
    line-height: 12px;
  }

  .example__cost-text {
    font-size: 14px;
    color: #111111;
    text-transform: uppercase;
  }

  .slider__text {
    font-size: 16px;
    color: #111111;
    text-transform: uppercase;
  }
}

@media (min-width: @tablet-width) {
  .example__title {
    font-size: 60px;
  }

  .example__text {
    font-size: 16px;
    line-height: 24px;
  }

  .examle__piece-text {
    font-size: 30px;
  }

  .examle__piece-border {
    font-size: 14px;
  }

  .example__cost-text {
    font-size: 20px;
    line-height: 20px;
  }

  .slider__text {
    font-size: 20px;
  }
}
