@media (min-width: @min-width) {
  .example {
    background-color: #f2f2f2;
    padding: 1px 20px;
  }

  .example__title {
    margin: 21px 0;
    font-size: 36px;
    color: #111111;
  }

  .example__text {
    font-size: 14px;
    line-height: 18px;
    font-family: "Arial", sans-serif;
    margin: 0;
  }

  .example__facts {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .example__fact {
    position: relative;
    width: 122px;
    padding-top: 8px;
    min-height: 46px;
    border-radius: 2px;
    border: 1px solid #cdcdcd;
    text-align: center;
    font-size: 24px;
    text-transform: uppercase;
    color: #111111;
  }

  .example__fact--text {
    font-face: "Arial", sans-serif;
    text-transform: none;
    color: #444444;
    position: absolute;
    background-color: #f2f2f2;
    width: 55px;
    text-align: center;
    padding: 0 16px;
    font-size: 12px;
    line-height: 12px;
    z-index: 10;
    bottom: -12px;
    left: 16px;
  }

  .example__cost-text {
    text-align: center;
    font-size: 14px;
    color: #111111;
    text-transform: uppercase;
  }

  .slider__text {
    font-size: 16px;
    color: #111111;
    text-transform: uppercase;
  }
}

@media (min-width: @tablet-width) {
  .example__title {
    font-size: 60px;
  }

  .example__text {
    font-size: 16px;
    line-height: 24px;
  }

  .examle__fact {
    font-size: 30px;
  }

  .examle__fact--text {
    font-size: 14px;
  }

  .example__cost-text {
    font-size: 20px;
    line-height: 20px;
  }

  .slider__text {
    font-size: 20px;
  }
}
