@media (min-width: @min-width) {
  .example {
    background-color: #f2f2f2;
    padding: 1px 20px;
  }

  .example__title {
    margin: 21px 0;
    font-size: 36px;
    color: #111111;
  }

  .example__text {
    font-size: 14px;
    line-height: 18px;
    font-family: "Arial", sans-serif;
    margin: 0;
  }

  .example__facts {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .example__fact {
    position: relative;
    width: 122px;
    padding-top: 8px;
    min-height: 46px;
    border-radius: 2px;
    border: 1px solid #cdcdcd;
    text-align: center;
    font-size: 24px;
    text-transform: uppercase;
    color: #111111;
  }

  .example__fact--text {
    font-face: "Arial", sans-serif;
    text-transform: none;
    color: #444444;
    position: absolute;
    background-color: #f2f2f2;
    width: 55px;
    text-align: center;
    padding: 0 16px;
    font-size: 12px;
    line-height: 12px;
    z-index: 10;
    bottom: -12px;
    left: 16px;
  }

  .example__cost-text {
    text-align: center;
    font-size: 14px;
    color: #111111;
    text-transform: uppercase;
  }

  .example__slider {
    min-height: 88px;
    margin-top: 280px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .example__slider-item {
    display: none;
  }

  .example__slider-item:checked + label::before {
    position: absolute;
    top: -240px;
    left: 0;
    display: block;
    content: "";
    width: 320px;
    height: 240px;
  }

  .example__slider-item--before:checked + label::before {
    background: url("../img/before-mobile@1x.png") no-repeat;
  }

  .example__slider-item--after:checked + label::before {
    background: url("../img/after-mobile@1x.png") no-repeat;
  }

  .example__slider-item ~ .example__slider-toggle {
    width: 82px;
    height: 12px;
    border-radius: 5px;
    border: 1px solid #cdcdcd;
    order: 2;
    margin: 0 18px;
  }

  .example__slider-item:checked ~ .example__slider-toggle::before {
    position: relative;
    top: 3px;
    content: "";
    display: block;
    width: 35px;
    height: 6px;
    background-color: @bg-green;
    border-radius: 3px;
  }

  .example__slider-item--before:checked ~ .example__slider-toggle::before {
    left: 6px;
  }

  .example__slider-item--after:checked ~ .example__slider-toggle::before {
    left: 41px;
  }

  .example__slider-item--before + label {
    order: 1;
  }

  .example__slider-item--after + label {
    order: 3;
  }

  .example__slider-text {
    cursor: pointer;
    font-size: 16px;
    color: #111111;
    text-transform: uppercase;
  }
}

@media (min-width: @tablet-width) {
  .example__title {
    font-size: 60px;
  }

  .example__text {
    font-size: 16px;
    line-height: 24px;
  }

  .examle__fact {
    font-size: 30px;
  }

  .examle__fact--text {
    font-size: 14px;
  }

  .example__cost-text {
    font-size: 20px;
    line-height: 20px;
  }

  .slider__text {
    font-size: 20px;
  }
}
