@media (min-width: @min-width) {
  .extra__title {
    font-size: 24px;
    color: #111111;
  }

  .extra__item-title {
    font-size: 16px;
    color: #222222;
  }

  .extra__table td {
    font-family: "Arial", sans-serif;
    font-size: 14px;
    color: #444444;
  }

  .extra__gift {
    background: @bg-green url("../img/gift-photo-mobile@1x.jpg") no-repeat;
  }

  .extra__gift p {
    font-size: 16px;
    line-height: 20px;
    color: #ffffff;
  }
}

@media (min-width: @tablet-width) {
  .extra__title {
    font-size: 36px;
  }

  .extra__item-title {
    font-size: 16px;
  }

  .extra__table td {
    font-size: 14px;
  }

  .extra__gift {
    background: @bg-green url("../img/gift-photo-tablet@1x.jpg") no-repeat;
  }
}

@media (min-width: @desktop-width) {
  .extra__item-title {
    font-size: 20px;
  }

  .extra__table td {
    font-size: 16px;
  }

  .extra__gift {
    background: @bg-green url("../img/gift-photo-desktop@1x.jpg") no-repeat;
  }
}
