@media (min-width: @min-width) {
  .form {
    width: @min-width;
  }

  .form__title {
    margin-top: 20px;
    margin-left: 20px;
    color: #111111;
    font-size: 36px;
    font-weight: normal;
  }

  .form__description {
    text-transform: uppercase;
    font-size: 14px;
    line-height: 18px;
    color: #111111;
    width: 260px;
    margin-left: 20px;
    margin-bottom: 40px;
  }

  .form__program {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }

  .form-work__base-info {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }

  .form-work__label {
    position: relative;
    margin-left: 20px;
    width: 280px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 14px;
    font-size: 16px;
    text-transform: uppercase;
    color: #222222;
  }

  .form-work__email + svg,
  .form-work__tel + svg {
    position: absolute;
    right: 19px;
  }

  .form-work__email:invalid + svg,
  .form-work__tel:invalid + svg {
    fill: #ff8282;
  }

  .form-work__email:focus:valid + svg,
  .form-work__tel:focus:valid + svg {
    fill: @bg-green;
  }

  .form-work__email + svg {
    right: 16px;
  }

  .form-work__tel + svg {
    right: 13px;
  }

  .form-work__label input:invalid,
  .form-work__label input:invalid:focus {
    border: 2px solid #ff8282;
    box-shadow: none;
  }

  .form-work__weight,
  .form-work__age,
  .form-work__name,
  .form-work__email,
  .form-work__tel {
    width: 140px;
    min-height: 43px;
    margin-left: 14px;
    padding: 0 15px;
    flex-grow: 1;
  }

  .form-work__mission {
    width: 320px;
    padding-top: 20px;
    padding-bottom: 10px;
    border: 1px solid #ededed;
  }

  .form-work__radio {
    display: none;
  }

  .form-work__radio + .form-work__label::before {
    content: "";
    display: block;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    padding: 8px;
    border: 1px solid #cecece;
    margin-right: 15px;
  }

  .form-work__radio:checked + .form-work__label::before {
    background-color: @bg-green;
    background-clip: content-box;
  }

  .form-work input::placeholder,
  .form-work textarea,
  .form-work input {
    font-family: "Oswald", "Arial", sans-serif;
    font-size: 16px;
    color: #444444;
    text-transform: uppercase;
  }

  .form-work textarea,
  .form-work input {
    border: 1px solid #e6e6e6;
  }

  .form-work__base-info ~ div {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    &::before {
      content: "";
      position: relative;
      top: 35px;
      left: 0;
      display: block;
      height: 3px;
      width: 320px;
      background-color: @bg-green;
      z-index: -1;
    }
  }

  .form-work__contacts .form-work__header {
    width: 200px;
  }

  .form-work__header {
    padding: 0 20px;
    background-color: #ffffff;
    font-size: 24px;
    line-height: 24px;
    color: #111111;
    margin-bottom: 35px;
  }

  .form-work__required-text {
    font-family: "Arial", sans-serif;
    color: #444444;
    font-size: 14px;
    align-self: center;
    margin-bottom: 30px;
    margin-top: 20px;
  }

  .form-work__textarea {
    width: 252px;
    height: 120px;
    margin-left: 20px;
    padding: 14px;
  }

  .form-work__extra input {
    display: none;
  }

  .form-work__checkbox + .form-work__label::before {
    content: "";
    width: 28px;
    height: 28px;
    display: block;
    margin-right: 15px;
    border: 1px solid #cecece;
  }

  .form-work__checkbox:checked + .form-work__label::before {
    background: url("../img/icon-tick.svg") center center no-repeat;
    background-size: 21px 16px;
  }

  .form-work__submit {
    width: 280px;
    height: 40px;
    margin-top: 25px;
    margin-left: 20px;
    font-size: 16px;
  }
}

@media (min-width: @tablet-width) {
  .form {
    width: @tablet-width;
  }

  .form__program {
    flex-direction: row;
    flex-wrap: wrap;
  }

  .form__title {
    margin-left: 30px;
    font-size: 60px;
  }

  .form__description {
    width: 343px;
    margin-left: 70px;
    font-size: 20px;
    line-height: 30px;
  }

  .form-work label {
    margin-left: 70px;
    width: 630px;
    font-size: 20px;
  }

  .form-work__mission {
    margin-top: 58px;
    margin-left: 70px;
    margin-bottom: 50px;
    width: 628px;
  }

  .form-work__mission label {
    margin-left: 27px;
  }

  .form-work__base-info ~ div::before {
    top: 45px;
    left: 0;
    width: 768px;
  }

  .form-work input::placeholder,
  .form-work textarea,
  .form-work input {
    font-size: 20px;
  }

  .form-work__contacts .form-work__header {
    width: auto;
  }

  .form-work__header {
    padding: 0 40px;
    margin-left: 30px;
    margin-bottom: 80px;
    margin-right: 100px;
    font-size: 36px;
  }

  .form-work__required-text {
    align-self: flex-start;
    font-size: 16px;
    margin: 0;
    margin-top: 45px;
  }

  .form-work__textarea {
    width: 598px;
    margin-bottom: 30px;
    margin-left: 70px;
  }

  .form-work__extra {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .form-work__checkbox + .form-work__label {
    width: 270px;
    margin-bottom: 32px;
  }

  .form-work__submit {
    width: 280px;
    height: 52px;
    margin-top: 25px;
    margin-left: 70px;
    margin-bottom: 72px;
    margin-right: 60px;
    font-size: 20px;
  }
}

@media (min-width: @desktop-width) {
  .form {
    width: @desktop-width;
  }

  .form__title {
    margin-left: 40px;
  }

  .form__description {
    margin-left: 40px;
    margin-bottom: 60px;
  }

  .form-work__label input:hover {
    border: 1px solid #cdcdcd;
  }

  .form-work__label input:active,
  .form-work__label input:focus {
    border: 2px solid #444444;
  }

  .form-work__email:active + svg,
  .form-work__tel:active + svg {
    fill: @bg-green;
  }

  .form-work__checkbox + .form-work__label:hover::before,
  .form-work__radio + .form-work__label:hover::before {
    border: 1px solid #bcbcbc;
  }

  .form-work__checkbox + .form-work__label:active,
  .form-work__radio + .form-work__label:active {
    opacity: 0.3;
  }

  .form-work label {
    margin-left: 40px;
    width: 570px;
  }

  .form-work__mission {
    margin: 0;
    width: 570px;
    margin-left: 40px;
  }

  .form-work__base-info {
    width: 100%;
    height: 210px;
  }

  .form-work__base-info ~ div::before {
    width: 1300px;
  }

  .form-work__header {
    margin-left: 0;
    margin-bottom: 80px;
    margin-right: 500px;
  }

  .form-work__contacts .form-work__label {
    margin-right: 40px;
    margin-left: 0;
    padding-left: 40px;
  }

  .form-work__textarea {
    width: 1220px;
    margin-left: 40px;
  }

  .form-work__extra .form-work__header {
    margin-right: 1000px;
  }

  .form-work__checkbox + .form-work__label {
    width: 285px;
  }

  .form-work__submit {
    width: 570px;
    margin-left: 40px;
    margin-right: 80px;
  }
}
