@media (min-width: @min-width) {
  .how-it-work {
    width: 280px;
    margin: 0 auto;
  }

  .how-it-work__title {
    font-size: 36px;
    color: #111111;
  }

  .how-it-work__list {
    list-style-type: none;
    padding: 0;
  }

  .how-it-work__item {
    margin: 20px auto;
    font-family: "Arial", sans-serif;
    font-size: 14px;
    line-height: 18px;
    display: flex;

    &::before {
      display: block;
      margin-right: 20px;
      min-width: 60px;
      min-height: 60px;
      content: "";
    }
  }

  .how-it-work__item:nth-child(1)::before {
    background: @bg-green url("../img/advantage-leaf@1x.png") center center no-repeat;
  }

  .how-it-work__item:nth-child(2)::before {
    background: @bg-green url("../img/advantage-powder@1x.png") center center no-repeat;
  }

  .how-it-work__item:nth-child(3)::before {
    background: @bg-green url("../img/advantage-dining@1x.png") center center no-repeat;
  }

  .how-it-work__item:nth-child(4)::before {
    background: @bg-green url("../img/advantage-clock@1x.png") center center no-repeat;
  }
}

@media (min-width: @tablet-width) {
  .how-it-work__title {
    font-size: 60px;
  }

  .how-it-work__item {
    font-size: 16px;
    line-height: 24px;
  }
}
