@media (min-width: @min-width) {
  .page-footer__description {
    color: #111111;
    font-size: 16px;
    line-height: 20px;
  }

  .page-footer__adress {
    font-size: 14px;
    line-height: 20px;
    font-family: "Arial", sans-serif;
    color: #444444;
  }

  .page-footer__developer {
    font-size: 16px;
    color: #444444;
    font-family: "Arial", sans-serif;
  }
}

@media (min-width: @tablet-width) {
  .page-footer__description {
    font-size: 20px;
    line-height: 25px;
  }

  .page-footer__adress {
    font-size: 16px;
  }
}
