@media (min-width: @min-width) {
  .promo {
    color: #ffffff;
  }

  .promo__title {
    font-size: 36px;
    line-height: 36px;
  }

  .promo__text {
    font-size: 14px;
    text-transform: uppercase;
  }
}

@media (min-width: @tablet-width) {
  .promo {
    color: #111111;
  }

  .promo__title {
    font-size: 60px;
    line-height: 60px;
  }

  .promo__text {
    font-size: 20px;
  }
}
